body{
	background-color: grey
    padding: 0;
    margin: 0;
}
div {
	border: 1px;
	border-color: white;
	

}

.topimage {
    background-image: url('images/park2.jpg');
    height: 500px;
    width: 100%;
    background-size: cover;
    
    
}


.header {
    width:960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
}
.header li {
    list-style-type: none;
    display: inline;
    color: black;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 50px;
	font-size: 22px;
	
}
.header-heading {
    color: black;
    text-align: center;
    font-size: 40px;
    margin: 0;
    margin-top: 80px;
    

}
.header li a {
    color: black;
    text-decoration: none;
}
.header li a:hover {
    text-decoration: underline;

}
.header active a {
    text-decoration: underline;
    
}

.content-wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30 px;
}

div h1 {
	color: #666666;
	text-align: center;
	font-size: 30px;
}
.content-wrapper li {
    list-style-type: none;
    display: inline;
    color: black;
     margin-left: 40px;
    margin-right: 150px;
    margin-top: 50px;
	font-size: 22px;
    
}
.content-wrapper h1{
   margin-top: 80px;
   margin-bottom: 80px;
   
}
.twoline {
    width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30 px;
   
}
.twoline li{
    list-style-type: none;
    display: inline;
    color: black;
     margin-left: 40px;
    margin-right: 80px;
    margin-top: 50px;
	font-size: 25px;
}
p{
    font-size: 22px;
}
h2{
    text-align: center;
    color: red;
    
}

.left-column {
    width: 50%;
    float: left;
}

.right-column {
    float: right;
    width: 50%;
}
strong {
    color:red;
}
h2 {
    text-align: center;
    color: red;
}
p {
    font-family: sans-serif;
}
.bottom{
    width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30 px;
}
.rex{
    text-align: center;
    
}
.multi{
    text-align: center;
}
.p1{
    text-align: center;
}
